@mixin FlexBoxCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin FlexDirectionColumn {
  flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -moz-flex-direction: column;
}

@mixin HeaderOfSection {
  text-align: center;
  padding: 2rem 0 3.5rem;

  h1 {
    @include clamp-font-size(1rem, 9vw, 2.85rem);
  }

  h3 {
    font: {
      weight: 300;
      size: .9rem;
    }
  }
}


// Import in 6 Additional Services
@mixin AdditionalServicesBox {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: .5rem;
  padding: 1.2rem;
  border: 1px solid $decoration;

  img {
    max-width: 2.9rem;
  }

  h2 {
    font: {
      size: 1rem;
      weight: 500;
    }
  }

  a {
    font: {
      weight: 300;
      size: .8rem;
    }

    // text-decoration: none;
    color: $decorative;
  }
}


// Import in index.scss
@mixin GeneralSectionSettings {
  padding: 4rem 2rem;

  margin-top: 1.5rem;
  margin-bottom: 1.5rem;

  color: black;

  .block-one,
  .block-two,
  .block-three,
  .block-four,
  .block-five,
  .block-six,
  .block-seven,
  .block-eight,
  .block-nine,
  .block-ten {
    border: 1px solid $section-text-deco;
    padding: 2rem 2rem;

    .text {
      margin: .5rem 0 1.5rem;
      
      p {
        margin-bottom: 1.5rem;
        color: $general-color;
      }
    }

    strong {
      color: $section-text-deco;
    }

    // CleaningSolarsBLockFour
    .heading-family-houses {
      margin-top: 1.5rem;
    }
  }

  // CleaningSolarPriceList
  .price-heading {
    font-size: 1.5rem;

    p {
      font-size: .85rem;
      margin-bottom: 2rem;
    }
  }
}


@mixin OpacityText {
  color: $fourth-color;
  opacity: .6;
}


// Clamps functions
@mixin clamp-font-size($min, $current, $max) {
  font-size: clamp(#{$min}, #{$current}, #{$max});
}

@mixin clamp-letter-spacing($min, $current, $max) {
  letter-spacing: clamp(#{$min}, #{$current}, #{$max});
}

@mixin clamp-line-height($min, $current, $max) {
  line-height: clamp(#{$min}, #{$current}, #{$max});
}

// Signpost for blocks in pages
@mixin Signposts {
    text-align: center;
    background-color: $section-bg1;
    padding: 3rem 0;

    .heading {
      text-transform: uppercase;

      .subtitle {
        margin-top: .5rem;
        font-size: .8rem;
        letter-spacing: .05rem;
      }
    }

    .filter {
      background-color: white;
      max-width: 30rem;
      margin: 3rem auto;
      border: 1px solid $decoration;

    li {
      color: $decorative;
      padding: 1rem 0 0 .5rem;
      list-style-type: none;
      text-align-last: left;

      &:last-child {
        padding-bottom: 1rem;
      }

      a {
        text-decoration: none;
        color: $decorative;

        &:hover {
          color: $decorative-hover;
        }

        &::before {
          content: "> ";
        }
      }
    }
  }

    @media (max-width: 510px ) {
      .filter {
        margin: 3rem 1rem;
    }
  }
}