// Fonts
$general-color: #444;

$decorative: #ff6e42;
$decorative-hover: #ff4a13;

$third-color:#0e0e0e;
$fourth-color: #fff;
$note-color: #F00;

// Sections
$section-bg1: #f5f8fc;
$section-bg2: #fff;

// Decorations
$decoration: rgba(0, 0, 0, 0.4);

// Other
$section-text-deco: #000;
$overlay: rgba(0, 0, 0, 0.7);
$title-subtitle: #FFF;
$svg-bg: #FFF;
$mouse-animation: #FFF;
