@import "../partials/mixins";
@import "../partials/variables";

.show-our-work {
  // General section
  background-color: $section-bg1;
  padding-bottom: 5rem;

  .header {
    // Header of general section
    @include HeaderOfSection;
  }

  .our-work {
    // Block with component cards
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
  }
}