@import "../partials/mixins";
@import "../partials//variables";

header {
  position: relative;
  background: url("../assets//images/header-bg.jpg") center/cover no-repeat;
  background-attachment: fixed;

  height: 100vh;

  .overlay {
    height: 100vh;
    background-color: $overlay;
    
    .sub-title-container {
      @include FlexBoxCenter;
      @include FlexDirectionColumn;
      height: 100vh;

      color: $title-subtitle;
      
      @include clamp-font-size(.7rem, 3vw, 3.2rem);
      @include clamp-letter-spacing(.2rem, 1.8vw, 1rem);
      @include clamp-line-height(2.1rem, 5.5vw, 4.5rem);
      white-space: nowrap;
      
      h1 {
        text-transform: uppercase;
        padding: 0 1rem;
      }
      
      h3 {
        @include clamp-font-size(.8rem, 2vw, 1.2rem);
        @include clamp-letter-spacing(.1rem, 1vw, .7rem);
        font-weight: 300;
        padding: 0 1rem;
      }

      .subtitle-brake-top.subtitle-brake-top {
        content: "| "
      }
    }
  }
}

// Animation for Mouse Icon Wheel
@keyframes drop {
  0% {
    top: .31rem;
    opacity: 0;
  }
  30% {
    top: .62rem;
    opacity: 1;
  }
  100% {
    top: 1.25rem;
    opacity: 0;
  }
}

@-moz-keyframes drop {
  0% {
    top: .31rem;
    opacity: 0;
  }

  30% {
    top: .62rem;
    opacity: 1;
  }

  100% {
    top: 1.25rem;
    opacity: 0;
  }
}

@-webkit-keyframes drop {
  0% {
    top: .31rem;
    opacity: 0;
  }

  30% {
    top: .62rem;
    opacity: 1;
  }

  100% {
    top: 1.25rem;
    opacity: 0;
  }
}

@-o-keyframes drop {
  0% {
    top: .31rem;
    opacity: 0;
  }

  30% {
    top: .62rem;
    opacity: 1;
  }

  100% {
    top: 1.25rem;
    opacity: 0;
  }
}


@media (max-width: calc((530px / 16px) *1rem)) {
  header .overlay .sub-title-container .subtitle-brake-bot {
    display: block;
    text-align: center;
  }

  header .overlay .sub-title-container .subtitle-brake-top {
    display: block;
    text-align: center;
  }
}